body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f90091;
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(255, 0, 179) 50%, rgb(253, 220, 255) 100%);
    padding: 25px 80px;
}

h2{
    font-size: 2.75em;
    color: #f90091;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.moves{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.game{
    border: 2px solid whitesmoke;
    padding: 5px;
    width: 444px;
    height: 444px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;

    font-size: 2.5em;
    transform: rotateY(180deg);
    transition: 0.27s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #510e35;
    transition: 0.27s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item .boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}

.reset{
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    width: 100%;
    background-color: whitesmoke;
    color: #f90091;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
}

a:hover{
    color: #f90091;
}